@model ServicesModels.db.Movie

@{
    ViewBag.Title = "Film";
}

<div>
    <div class="jumbotron">
        <div>
            <h2><b class="FilmDesc">@Html.DisplayFor(model => model.Title)</b></h2>
        </div>
        <div >
            <img class="picture" src="@string.Format("/Resources/{0}", Model.Cover)">
        </div>
        <div class=" FilmDesc">
            <h4><b>Opis:</b></h4>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
</div>
<br />
<h3>Wybierz termin:</h3>

@{Html.RenderAction("Seans", Model);}

<p>
    @Html.ActionLink("Wróć do strony głównej", "../Home/Index")
</p>