@model IEnumerable<ServicesModels.db.Seance>
<div class="seats-view">

    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.Room.Number)</h4>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.Date)</h5>
                </td>
                <td>
                    <a class="btn btn-primary"
                       href=@Url.Action("../Reservation/Seats" , new { id = item.Id })>
                        Dalej  >>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>