@model IEnumerable<ServicesModels.db.Seance>
<div>
    <hr />
    <br />
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary btn-lg active"
                       href=@Url.Action("../Reservation/Seats" , new { id = item.Id })>
                        Wybierz >>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }

    </table>
</div>