@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Somewhere in Web...<br />
</address>

<address>
    <strong>Marcin Knap</strong>   <a href="mailto:Support@example.com">marcknap@gmail.com</a><br />
    <strong>Marek Tokarski</strong> <a href="mailto:Marketing@example.com">adresMarka@domena.com</a>
</address>