body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col {
    display: inline-block;
}

.check-spot{
    background-color: green;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.checkboxes input[type=checkbox]{
    display: none;
}

.checkboxes input[type=checkbox]:checked + .check-spot{
    background-color: blue;
}

.checkboxes input[type=checkbox]:disabled + .check-spot{
    background-color: red;
}

div
{
    font-family:  "Helvetica Neue";
}
h2{
     font-family:  "Helvetica Neue";
     font-size: 50px;
}
.cell
{
    text-align: center;
    vertical-align: central;
    min-width: 200px;
    max-height:100px;
}
.cell-picture
{
    height: 150px;
}
.picture{
    max-height:300px;
     margin-top: 50px;
}
.FilmRow
{
    font-weight: bold;
    font-size: 20px;
    margin-top: -20px;
}
.FilmDesc
{
    margin-top: 50px;
}

.content
{
     vertical-align: central;
     margin-top: 55px;
}

.seats-view
{
    text-align:center;
    margin: 50px;
}
.room-view
{
    margin-top: 50px;
}
.form-view
{
    text-align:center;
    margin-top:50px;
    margin-bottom:150px;
    margin-left:-180px;
}